body {
	margin: 0;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.clockContainer {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom right, black, DarkSlateGray);
}

.clock {
	color: paleturquoise;
	font-size: 4rem;
	font-family: Cyberverse;
}

@font-face {
	font-family: Cyberverse;
	src: url("../assets/fonts/Cyberverse.ttf");
}